<div class="screen_header">
	<a class="screen_back shafi" data-activates="#my_profile" href="#rp_my_profile" ng-click="my_profile()">Back</a>
	<div class="screen_title">My Account</div>
</div>
<div class="screen_content">
	<div class="data_tabs">
		<div><a href="#rp_my_info" ng-click="my_info()" class="waves-effect waves-pink btn-flat" data-activates="#my_info">Info</a></div>
		<div><a href="#rp_my_preferences" class="waves-effect waves-pink btn-flat" data-activates="#my_preferences">Preferences</a></div>
		<div><a href="#rp_my_addresses" ng-click="my_addresses()" class="waves-effect waves-pink btn-flat" data-activates="#my_addresses">Addresses</a></div>
		<div><a href="#rp_my_orders" class="waves-effect waves-pink btn-flat" data-activates="#my_orders" ng-click="my_orders()">Orders</a></div>
		<div><a href="#rp_my_sales" class="waves-effect waves-pink btn-flat" data-activates="#my_sales" ng-click="my_sales()">Sales</a></div>
		<div><a href="#rp_my_bank_account" class="waves-effect waves-pink btn-flat" data-activates="#my_bank_account" ng-click="my_bank_account()">Bank Account</a></div>
	</div>
</div>