<div class="screen_header">
	<div class="screen_title">My Preferences</div>
	<a href="#rp_my_account" class="screen_back" data-activates="#my_account">Back</a>
</div>
<div class="screen_content no_footer">
	<div class="data_tabs">
		<div><a href="#rp_my_interests" ng-click="my_interests()" class="waves-effect waves-pink btn-flat" data-activates="#my_interests">My Interests</a></div>
		<div><a href="#rp_my_sizes" ng-click="my_sizes()" class="waves-effect waves-pink btn-flat" data-activates="#my_sizes">My Sizes</a></div>
		<div><a href="#rp_my_brands" ng-click="my_brands()" class="waves-effect waves-pink btn-flat" data-activates="#my_brands">My Brands</a></div>
	</div>
</div>