<div class="insert-overlays">
    <div class="pri-overlay zap_embed">
        <div class="glass"></div>
        <div class="content">
            <div class="header">Embed Zapyle Post</div>
            <div class="body">
                <div class="url-input">
                    <input class="url" type="text" name="url">
                    <input type="checkbox" name="user-preview"><label>Show User preview</label>
                    <input type="checkbox" name="use-cta"><label>Show Buy CTA</label>
                    <input class="show-preview" type="submit" value="Show Preview">
                </div>
                <div class="preview">

                </div>
            </div>
            <div class="footer">
                <a class="done" href="#">Done</a>
                <a class="cancel" href="#">Cancel</a>
            </div>
        </div>
    </div>
    <div class="pri-overlay social_embed">
        <div class="glass"></div>
        <div class="content">
            <div class="header">Embed Social Post</div>
            <div class="body">
                <!-- <div class="networks">
                    <ul>
                        <li class="facebook">Facebook</li>
                        <li class="youtube">YouTube</li>
                        <li class="instagram">Instagram</li>
                        <li class="pinterest">Pinterest</li>
                        <li class="twitter">Twitter</li>
                    </ul>
                </div> -->
                <div class="url-input">
                    <textarea class="embed-code"></textarea>
                    <input class="show-preview" type="submit" value="Show Preview">
                </div>
                <div class="preview">

                </div>
            </div>
            <div class="footer">
                <a class="done" href="#">Done</a>
                <a class="cancel" href="#">Cancel</a>
            </div>
        </div>
    </div>
    <div class="pri-overlay image">
        <div class="glass"></div>
        <div class="content">
            <div class="header">Embed Image</div>
            <div class="body">
                <div class="input">
                    <input type="file" class="sr-only" id="inputImage" name="file" accept="image/*">
                    <input class="show-preview" type="submit" value="Show Preview">
                    <input class="back" type="submit" value="Back">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                        <!-- <h3 class="page-header">Demo:</h3> -->
                            <div class="img-container">
                                <img id="crop-image" src="" alt="Picture">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- <h3 class="page-header">Preview:</h3> -->
                            <div class="docs-preview clearfix">
                              <div class="img-preview preview-lg"></div>
                              <div class="img-preview preview-md"></div>
                              <div class="img-preview preview-sm"></div>
                              <div class="img-preview preview-xs"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 docs-buttons">
                        <!-- <h3 class="page-header">Toolbar:</h3> -->
                            <div class="btn-group">
                              <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop">
                                <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;setDragMode&quot;, &quot;crop&quot;)">
                                  <span class="fa fa-crop"></span>
                                </span>
                                Crop
                              </button>
                            </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, -45)">
                          <span class="fa fa-rotate-left"></span>
                        </span>
                        rotate -
                      </button>
                      <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                        <span class="docs-tooltip" data-toggle="tooltip" title="$().cropper(&quot;rotate&quot;, 45)">
                          <span class="fa fa-rotate-right"></span>
                        </span>
                        rotate +
                      </button>
                    </div>
                  </div><!-- /.docs-buttons -->
                </div>
            </div>
            <div class="preview">

            </div>
            </div>
            <div class="footer">
                <a class="done" href="#">Done</a>
                <a class="cancel" href="#">Cancel</a>
            </div>
        </div>
    </div>
</div>