{% extends "account/base.html" %}
{% block body %} 
	<main class="about_us">
		<div class="top_banner">
	        <img src="/zapstatic/website/aboutus/about_banner.jpg">
            <div class="glass absolute"></div>
       </div>
		<div class="page_content">
			<div class="side_bar">
				<div class="side_bar_inner">
					<ul class="side_nav section table-of-contents">
						<li><a href="#story">Story</a></li>
						<li><a href="#vision">Vision</a></li>
						<li><a href="#mission">Mission</a></li>
						<li><a href="#team">Team</a></li>
					</ul>
				</div>
			</div>
			<div class="content has_side_bar">
				<div id="story" class="content_block section scrollspy">
					<h3>Story</h3>
					<p>The inspiration behind Zapyle was to find a solution to the universal problem of having nothing to wear - or managing our closets.</p>
					<p>Millions of Indian women stock their closets with stuff worth over a billion dollars every year, and still have nothing to wear. We see you nod in agreement!</p>
					<p><b>We only use 20% of our closet 80% of the time. True story.</b></p>
					<p>That's a ton of money and inventory just lying around!</p>
					<p>Zapyle is here to keep your closet stay updated and make you rich in the process. You can discover, sell and buy fashion here, and start a revolving closet! But most importantly, Zapyle is a fun community of incredible women who love fashion.</p>
					<div class="parallax-container">
						<div class="parallax">
					        <img src="/zapstatic/website/aboutus/about_us_1.jpg" class="web_only">
					        <div class="caption press_quote">
					            <p class="quote">
									<span class="italic big">Luxury available at attractively marked down prices...</span>
									<span class="block">Femina</span>
								</p>
					        </div>
					        <div class="glass absolute"></div>
						</div>
					</div>
				</div>
				<div id="vision" class="content_block section scrollspy">
					<h3>Vision</h3>
					<p>Every product will have 5 owners in its lifetime.</p>
					<p>Selling fashion will be as easy as buying it and we'll soon see the huge potential and great value lying hidden in our closets. It won't be clothes or bags or shoes that we own, but memories that are meant to be passed on to another when our time with them is done. Our fashion will live not just through us, but will have 5 lives instead of one.</p>
					<p>Zapyle celebrates that vision.</p>
					<div class="parallax-container">
						<div class="parallax">
					        <img src="/zapstatic/website/aboutus/about_us_2.jpg" class="web_only">
					        <div class="caption press_quote">
					            <p class="quote">
									<span class="italic big">Zapyle encourages collaborative shopping, building a product for fashion-conscious women</span>
									<span class="block">Economic Times</span>
								</p>
					        </div>
					        <div class="glass absolute"></div>
						</div>
					</div>
				</div>
				<div id="mission" class="content_block section scrollspy">
					<h3>Mission</h3>
					<p>And our mission is to deliver love to those million women, one closet at a time.</p>
				</div>
				<div id="team" class="content_block section scrollspy">
					<h3>Team</h3>
					<p>Zapyle's founded by young and talented individuals who aim to make Zapyle as the hottest fashion portal.</p>
					<p>Have what it takes to join us?</p>
					<p>We are a team that cares deeply about doing a lot with a little, and embrace doing the hard things that other dismiss as impossible. If that sounds fun, then we'd love to speak with you.</p>
					<!-- <a href="#">Careers at Zapyle</a> -->
				</div>
			</div>
		</div>
	</main>
{% endblock %}