{% extends "account/base.html" %}
{% block body %} 
	<main class="about_us">
		<div class="top_banner">
			<div class="parallax-container">
				<div class="parallax">
			        <img src="/zapstatic/website/authenticity/authenticity_banner.jpg" class="web_only">
				</div>
			</div>
		</div>
		<div class="page_content">
			<div class="side_bar">
				<div class="side_bar_inner">
					<ul class="side_nav section table-of-contents">
						<li><a href="#genuine">100% Authentic</a></li>
						<li><a href="#shipping_returns">Free Shipping, Returns</a></li>
						<li><a href="#service">Quick, Friendly Service</a></li>
						<li><a href="#authenticity">Authenticity</a></li>
					</ul>
				</div>
			</div>
			<div class="content has_side_bar">
				<div id="genuine" class="content_block section scrollspy">
					<h3>Get Your Item or Get Refunded</h3>
					<p>You don't have to read between the lines: Zapyle only believes in dealing with authentic luxury items - counterfeit products are absolutely not accepted. So if you think the item you bought on Zapyle isn't 100% genuine, just send it to us, we'll return your money right away!</p>
				</div>
				<div id="shipping_returns" class="content_block section scrollspy">
					<h3>Free Shipping &amp; Fast Returns</h3>
					<p>We get that sometimes you might love how something looks when you see it, but when you try it on, it's a whole other story! Exactly why we have a 24 hours return policy for you. You have 24 hours from the time you receive an item you bought to decide whether you want to keep it, or send it back to us. If we find that the item misled you, we'll give you a full refund! If you just decide you don't love it so much, you still get Cash in return so you can buy something you really love! It's a win-win.</p>
				</div>
				<div id="service" class="content_block section scrollspy">
					<h3>Quick, Friendly Service</h3>
					<p>At Zapyle, we love sharing fashion love – and help, whenever you might need it! So call us on 073378 80282 from Monday to Friday 9.30 am - 7.30 pm or email us at Hello@Zapyle.com and we're always happy to chat! Also, prompt reply guaranteed. </p>
				</div>
				<div id="authenticity" class="content_block section scrollspy">
					<h3>Authenticity</h3>
					<p>Zapyle rests on a strong policy of authenticity. All the products listed on Zapyle are 100% authentic. We only approve products with high quality images and which feature in our list of 550 brands. Our trained in-house professionals, including apparel experts and handbag appraisers ensure that every item sold and bought on our platform is 100% authentic and in great condition, preloved or brand new.</p>
					<p><u>How We Guarantee Our Authenticity</u></p>
					<p>A trained team of luxury experts passes every item to be bought or sold through a second round of brand-specific quality/authentication process where they are checked on a multi-point system, before they are accepted for consignment. Each item is inspected for original brand logos, date codes, serial tags and hologram stickers before it is curated into daily sales.</p>
					<p>Our goal at Zapyle is to provide you a luxury experience, so rest assured and shop stress free!</p>
					<p><u>How To Spot A Fake</u></p>
					<p>It's no secret that the luxury fashion market today is riddled with counterfeit goods - it's in fact, a growing industry, with technology aiding more accurate replications everyday. That's why it's important for a shopper like you to stay adept with what's fake and what's not. You don't want to splurge exorbitantly on something that's not real, do you?</p>
					<p>Here are some red flags to looks for before you invest in a luxury item, for example here, a Gucci Bowling bag. The first impression fake looks so real that it's next to impossible to detect. But keep the following telltale signs in mind and keep those peepers open!</p>
					<img src="/zapstatic/website/authenticity/1.jpg">
					<div class="inline">
						<p class="size6of12">First, check the brand tag of the bag, which you'll usually find somewhere inside. The tag of an original bag is straighter, tidier and neater in construction, and it carries the real registered trademark of the brand, as opposed to the counterfeit bag.</p>
						<img src="/zapstatic/website/authenticity/2.jpg" class="size6of12">
					</div>
					<div class="inline">
						<img src="/zapstatic/website/authenticity/3.jpg" class="size6of12">
						<p class="size6of12">Zippers are also an easy way to tell between a fake and real bag. An original bag's zipper will be heavier (fake ones are made from cheap material), and will have the brand name embossed uniformly and in correct font.</p>
					</div>
					<div class="inline">
						<p class="size6of12">Next, check the hardware of the bag thoroughly - this includes, buttons, buckles and embossing. An authentic luxury bag's hardware will be heavy and solid, and will have uniform embossing.</p>
						<img src="/zapstatic/website/authenticity/4.jpg" class="size6of12">
					</div>
					<div class="inline">
						<img src="/zapstatic/website/authenticity/5.jpg" class="size6of12">
						<p class="size6of12">In the pictures below, though the buckles are different, you'll know that the second one is a fake because, <br>
							a) this style of buckle doesn't come with this particular model of bag<br>
							b) notice the brand name isn't embedded on the second one as it should be.
						</p>
					</div>
					<div class="inline">
						<p class="size6of12">Every authentic luxury bag carries a unique code inside it - usually at the back of the brand tag. Unfortunately, the counterfeiters are aware of this too! So make sure to check the font and alignment of the code – the digits should be crisp, straight and aligned.</p>
						<img src="/zapstatic/website/authenticity/6.jpg" class="size6of12">
					</div>
						
				</div>
			</div>
		</div>
	</main>
{% endblock %}