<footer>
	<div class="max_1000">
		<div class="authenticity inline">
			<div class="size6of12 center_align">
				<span class="icon-authentic">Authenticity Guaranteed</span>
				 <a class="inline_btn modal-trigger" href="#buyer_protection">Buyer Protection</a>
			</div>
			<div class="size6of12 center_align">
				<span class="icon-shipping">24 Hour Returns</span>
				<a class="inline_btn modal-trigger" href="#shipping_returns_modal">Shipping &amp; Returns Policy</a>
			</div>
		</div>
		<div class="block inline">
			<div class="size6of12_nomargin">
				<h6>Stay Connected</h6>
				<ul class="inline social_links">
					<li><a target="_blank" href="https://www.facebook.com/zapyle/" class="icon-facebook"></a></li>
					<li><a target="_blank" href="https://twitter.com/ZapyleSocial" class="icon-twitter"></a></li>
					<li><a target="_blank" href="https://www.snapchat.com/add/zapyle" class="icon-snapchat"></a></li>
					<li><a target="_blank" href="https://www.instagram.com/zapyle/" class="icon-instagram"></a></li>
					<li><a target="_blank" href="https://www.youtube.com/channel/UCGTEq5Lm65t7tueQpybN9lA" class="icon-youtube"></a></li>
					<li><a target="_blank" href="https://in.pinterest.com/zapyle/" class="icon-pinterest"></a></li>
				</ul>
			</div>
			<div class="size6of12_nomargin">
				<h6>Try our Apps</h6>
				<span class="block small_font">Download our new app - it's fast, lightweight and optimised to go easy on your data pack.</span>
				<a target="_blank" href="https://play.google.com/store/apps/details?id=com.zapyle.zapyle" class="icon-android app_download">Android</a><a target="_blank" href="https://itunes.apple.com/in/app/zapyle-luxury-fashion-online/id1032735636?mt=8" class="icon-apple app_download">iOS</a>
			</div>
		</div>
		<div class="row_1 inline">
			<div class="size3of12">
				<h6>Shop by Categories</h6>
				<ul class="categories_list">
					<li><a href="https://www.zapyle.com/category/7">Handbags</a></li>
					<li><a href="https://www.zapyle.com/category/6">Accessories</a></li>
					<li><a href="https://www.zapyle.com/category/8">Footwear</a></li>
					<li><a href="https://www.zapyle.com/category/5">Dresses</a></li>
					<li><a href="https://www.zapyle.com/buy/?product_category=10">Lehenga</a></li>
					<li><a href="https://www.zapyle.com/buy/?product_category=5">Anarkali</a></li>
					<li><a href="https://www.zapyle.com/buy/?product_category=8">Salwar Kameez</a></li>
					<li><a href="https://www.zapyle.com/buy/?product_category=1">Sari</a></li>
				</ul>
			</div>
			<div class="size3of12">
				<h6>Shop by Brands</h6>
				<ul class="brands_list">
					<li><a href="/buy?brand=240">Jimmy Choo</a></li>
					<li><a href="/buy?brand=173">Chanel</a></li>
					<li><a href="/buy?brand=141">Louis Vuitton</a></li>
					<li><a href="/buy?brand=36">Prada</a></li>
					<li><a href="/buy?brand=256">Burberry</a></li>
					<li><a href="/buy?brand=185">Gucci</a></li>
					<li><a href="/buy?brand=225">Christian Dior</a></li>
					<li><a href="/buy?brand=69">Michael Kors</a></li>
					<li><a href="/buy?brand=163">Coach</a></li>
				</ul>
			</div>
			<div class="size3of12">
				<h6>Shop by Designers</h6>
				<ul class="designers_list">
					<li><a href="/shop/designer?brand=404">Varun Bahl</a></li>
					<li><a href="/shop/designer?brand=410">Micare by Anushree Agarwal</a></li>
					<li><a href="/shop/designer?brand=400">Anjali Jani</a></li>
					<li><a href="/shop/designer?brand=402">Ashima Leena</a></li>
					<li><a href="/shop/designer?brand=399">Land of August</a></li>
					<li><a href="/shop/designer?brand=401">Deepankshi &amp; Reena</a></li>
					<li><a href="/shop/designer?brand=405">Esha Koul</a></li>
					<li><a href="/shop/designer?brand=403">Manish Arora</a></li>
					<li><a href="/shop/designer?brand=409">Bhaavya Bhatnagar</a></li>
				</ul>
			</div>
			<div class="size3of12">
				<h6>About</h6>
				<ul>
					<li><a target="_blank" href="https://blog.zapyle.com/blog">Blog</a></li>
					<li><a href="/about-us#story">Our Story</a></li>
					<li><a href="/about-us#vision">Vision</a></li>
					<li><a href="/about-us#team">The Team</a></li>
					<li><a href="/authenticity">Authenticity</a></li>
					<li><a href="/terms-conditions">Terms and Conditions</a></li>
				</ul>
			</div>
		</div>
		<p class="center_align">Zapyle &copy; 2016</p>
	</div>
</footer>
<div class="scroll_top"></div>
<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='YoXmW4bZ';window._fcURL='https://zapyle.freshchat.io';</script>