<!-- Modal Structure -->
<div id="cod_modal" class="modal bottom-sheet">
	<div class="modal-content">
  		<h4>Confirm Order</h4>
  		<p>Are you sure you want to place the order?</p>
	</div>
	<div class="modal-footer">
  		<a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  		<a id="codConfirm" class="modal-action modal-close waves-effect waves-green btn-flat ">Yes</a>
	</div>
</div>
<div class="modal" id="buyer_protection">
	<div class="modal-content">
		<h4>Buyer Protection:</h4>
        <b>Guaranteed Authenticity</b>
        <ul>
            <li>Zapyle guarantees authenticity of its items.</li>
            <li>Each item goes through a rigorous authentication process with industry leading protocols and Zapyle is in constant contact with brands and fashion houses to guarantee authenticity.</li>
            <li>Zapyle protects its buyer by giving you 24 hours return period. If you are not happy with the product, we accept the return with no questions asked. In the event you wish to return your product, Zapyle will reimburse the entire amount as store credit in your Zap wallet.</li>
        </ul>
        <br>
        <b>Credit Card Checkout</b>
        <ul>
            <li>Zapyle accepts credit and debit cards including Visa, Mastercard, American Express and Discover, as well as payments through Net Banking accounts. For your protection, all transactions are powered by Citrus.</li>
        </ul>
	</div>
</div>
<div class="modal" id="shipping_returns_modal">
	<div class="modal-content">
		<h4>Shipping and Returns Policy:</h4>
        <p>Once the order is placed we will get the product delivered to you within 14 days depending on your location. The product can be returned within 24 hours after you've received it. Just head to My Orders on the Zapyle app and choose to Return.</p>
    </div>
</div>


