<!DOCTYPE html>
<html>
<head>
    <title>The best thing in fashion is here.</title>
    <link rel="icon" type="image/png" href="/zapstatic/website/icons/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/zapstatic/account/css/style.css?v=sss{{ZAP_ENV_VERSION}}">
    <link rel="stylesheet" type="text/css" href="/zapstatic/account/css/materialize.css?v=sss{{ZAP_ENV_VERSION}}">
    <link rel="stylesheet" type="text/css" href="/zapstatic/account/fonts/font.css?v=sss{{ZAP_ENV_VERSION}}">
    <script src="/zapstatic/account/js/jquery/jquery-1.11.3.min.js?v={{ZAP_ENV_VERSION}}"></script>
    <script src="/zapstatic/user/subscription.js?v=ghgh"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//load.sumome.com/" data-sumo-site-id="7cf2def28ee6d23ddf8b409407eb86fe5fb53e81aa09bf0ff85670692c7932bd" async="async"></script>
</head>
<body class="subscription_page">
    <header>
        <a class="logo"><img src="/zapstatic/website/subscription/logo.png" alt="Zapyle" style="max-height:40px;"></a>
        <ul class="inline no_padding menu right_align">
            <li><a href="#how_it_works" class="small_font">How It Works</a></li>
            <li><a href="#plans" class="small_font">Plans</a></li>
            <li><a href="#faq" class="small_font">FAQ</a></li>
        </ul>
    </header>
    <main class="no_padding white_bg">
        <div class="top_section">
            <div class="center_align" style="padding-top: 100px;">
                <h1 style="margin:40px 0 0"><img src="/zapstatic/website/subscription/bag.jpg?v=2" alt="Zap Subscribe" style="max-height: 250px;"></h1>
                <h6 class="bold" style="line-height:35px;margin:20px 0 20px;font-size: 24px;">Rotate luxury handbags<br> for a small monthly fee.</h6>
                <!--<h6 class="uppercase" style="font-size: 26px;padding-top: 20px;">Now you can.</h6>-->
                <!--<a class="btn overlay_trigger" data-overlay="#talk_to_us_form" style="margin:40px 0 20px;">Make it happen</a>-->
            </div>
            <div id="how_it_works" class="page_content">
                <div class="steps center_align" style="max-width:1000px;">
                    <h5 class="separating_header uppercase">How it works</h5>
                    <div class="inline">
                        <div class="size3of12">
                            <div class="number"><img src="/zapstatic/website/subscription/1@2x.png" alt="1"></div>
                            <div class="description">Pick a plan and subscribe for a monthly fee.</div>
                        </div>
                        <div class="size3of12">
                            <div class="number"><img src="/zapstatic/website/subscription/2@2x.png" alt="2"></div>
                            <div class="description">Get a handbag shipped to your doorstep.</div>
                        </div>
                        <div class="size3of12">
                            <div class="number"><img src="/zapstatic/website/subscription/3@2x.png" alt="3"></div>
                            <div class="description">Flaunt the handbag for a month.</div>
                        </div>
                        <div class="size3of12">
                            <div class="number"><img src="/zapstatic/website/subscription/4@2x.png" alt="4"></div>
                            <div class="description">Exchange it for a new bag, at the end of the month!</div>
                        </div>
                    </div>
                </div>
                <div class="benefits center_align" style="max-width:900px;">
                    <h5 class="separating_header uppercase">This is amazing because</h5>
                    <div class="inline">
                        <div class="size4of12">
                            <div><img src="/zapstatic/website/subscription/cancel@2x.png" alt="No Commitment"></div>
                            <div class="description">No commitments. Cancel anytime.</div>
                        </div>
                        <div class="size4of12">
                            <div><img src="/zapstatic/website/subscription/shipping@2x.png" alt="Free Shipping"></div>
                            <div class="description">Shipping is on us. Both ways.</div>
                        </div>
                        <div class="size4of12">
                            <div><img src="/zapstatic/website/subscription/discount@2x.png" alt="Special discounst to buy"></div>
                            <div class="description">Special discount when you buy.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="plans" class="plans" style="background:#f5f5f5;">
            <div class="content">
                <div class="head row inline">
                    <div class="size3of12 left_align bold">Plans</div>
                    <div class="size9of12 inline no_margin">
                        <div class="size4of12 mobile_also uppercase">Premium</div>
                        <div class="size4of12 mobile_also uppercase">Luxe</div>
                        <div class="size4of12 mobile_also uppercase">Uber Luxe</div>
                    </div>
                </div>
                <div class="row inline">
                    <div class="size3of12 left_align">Monthly Fee</div>
                    <div class="size9of12 inline no_margin">
                        <div class="size4of12 mobile_also">
                            <span class="uppercase pink very_small block">Early bird offer</span>
                            <span class="icon-rupee bold block" style="padding: 8px 0 4px;">1,999</span>
                            <span class="icon-rupee" style="text-decoration:line-through;">2,999</span>
                        </div>
                        <div class="size4of12 mobile_also">
                            <span class="uppercase pink very_small block">Early bird offer</span>
                            <span class="icon-rupee bold block" style="padding: 8px 0 4px;">4,499</span>
                            <span class="icon-rupee" style="text-decoration:line-through;">6,999</span>
                        </div>
                        <div class="size4of12 mobile_also">
                            <span class="uppercase pink very_small block">Early bird offer</span>
                            <span class="icon-rupee bold block" style="padding: 8px 0 4px;">6,999</span>
                            <span class="icon-rupee" style="text-decoration:line-through;">9,499</span>
                        </div>
                    </div>
                </div>
                <div class="row inline">
                    <div class="size3of12 left_align">
                        Security Deposit
                        <span class="very_small block" style="padding: 8px 0 0;">(Will be refunded at the end of subscription)</span>
                    </div>
                    <div class="size9of12 inline no_margin">
                        <div class="size4of12 mobile_also icon-rupee">1,000</div>
                        <div class="size4of12 mobile_also icon-rupee">3,000</div>
                        <div class="size4of12 mobile_also icon-rupee">5,000</div>
                    </div>
                </div>
                <!--<div class="row inline">-->
                    <!--<div class="size3of12 left_align">Bags per Month</div>-->
                    <!--<div class="size9of12 inline no_margin">-->
                        <!--<div class="size4of12 mobile_also">2</div>-->
                        <!--<div class="size4of12 mobile_also">2</div>-->
                        <!--<div class="size4of12 mobile_also">2</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="row inline">
                    <div class="size3of12 left_align">
                        Monthly Exchanges
                        <span class="very_small block" style="padding: 8px 0 0;">(You can exchange the bag you get for another within the month)</span>
                    </div>
                    <div class="size9of12 inline no_margin">
                        <div class="size4of12 mobile_also">0</div>
                        <div class="size4of12 mobile_also">1</div>
                        <div class="size4of12 mobile_also">1</div>
                    </div>
                </div>
                <div class="row inline">
                    <div class="size3of12 left_align">Access</div>
                    <div class="size9of12 inline no_margin">
                        <div class="size4of12 mobile_also">
                            <span>Premium</span>
                            <div style="margin:10px 0;">
                                <label class="block uppercase very_small">Brands</label>
                                <p class="small_font bold no_margin">BCBG, Tory Burch, <br>Michael Kors etc.</p>
                            </div>
                            <a target="_blank" class="underline grey small_font" href="/collection/subscription-premium">View Collection</a>
                        </div>
                        <div class="size4of12 mobile_also">
                            <span>Premium + Luxe</span>
                            <div style="margin:10px 0;">
                                <label class="block uppercase very_small">Brands</label>
                                <p class="small_font bold no_margin">Burberry, Gucci, <br>Jimmy Choo etc.</p>
                            </div>
                            <a target="_blank" class="underline grey small_font" href="/collection/subscription-luxe">View Collection</a>
                        </div>
                        <div class="size4of12 mobile_also">
                            <span>Premium + Luxe + Uber Luxe</span>
                            <div style="margin:10px 0;">
                                <label class="block uppercase very_small">Brands</label>
                                <p class="small_font bold no_margin">Louis Vuitton, <br>Dolce & Gabbana etc.</p>
                            </div>
                            <a target="_blank" class="underline grey small_font" href="/collection/subscription-uber-luxe">View Collection</a>
                        </div>
                    </div>
                </div>
                <div class="row inline">
                    <div class="size3of12 left_align">Shipping</div>
                    <div class="size9of12 inline no_margin">
                        <div class="size4of12 mobile_also bold">Free</div>
                        <div class="size4of12 mobile_also bold">Free</div>
                        <div class="size4of12 mobile_also bold">Free</div>
                    </div>
                </div>
            </div>
            <div class="inline cta_wrapper">
                <div class="size6of12_nomargin">
                    <a class="underline uppercase overlay_trigger" style="line-height:48px;letter-spacing:2px;" data-overlay="#tailor_plan">Tailor your own plan</a>
                </div>
                <div class="size6of12_nomargin right_align">
                    <a class="btn overlay_trigger" data-overlay="#talk_to_us_form">Get Started</a>
                </div>
            </div>
        </div>
        <div id="faq" class="page_content">
            <!--<h2>FREQUENTLY ASKED QUESTIONS</h2><br>-->
            <h5 class="separating_header uppercase center_align">FREQUENTLY ASKED QUESTIONS</h5>
            <div class="inline white_bg">
				<div class="size6of12_nomargin">
					<section class="question">
						<span>
							<h6>What do I get from this membership?</h6>
							<p class="small_font">With this membership, you become a valued member of The Zap Community - an exclusive community of premium and luxury fashion enthusiasts in India. Simply by paying a fixed price every month, you get access to the latest premium, luxury and über luxury fashion at incredible deals. You can use 1 bag for a month from the collection you subscribe to and it can be exchanged for another at the end of the month. Now flaunting your bags is just a click away. You can check out the plans above.</p>
						</span>
					</section>
					<section class="question">
						<span>
							<h6>Who can join Zap Subscribe?</h6>
							<p class="small_font">Currently, we are offering this subscription service only in Bangalore. But sit tight; we are expanding to other places soon! If you’re not from Bangalore, write to us at <a href="mailto:hello@zapyle.com">hello@zapyle.com</a>, and we’ll try to make it happen for you.</p>
						</span>
					</section>
					<section class="question">
						<span>
							<h6>Are there any hidden costs?</h6>
							<p class="small_font">Not at all. With Zap Subscribe, what you like is what you get, and what you see is what you pay.</p>
						</span>
					</section>
				</div>

				<div class="size6of12_nomargin">
					<section class="question">
						<span>
							<h6>How is it better than renting?</h6>
							<p class="small_font">In a lot of ways. With Zap Subscription, we didn’t want to provide you just another rental service, we wanted to give you special privileges and a unique experience.</p>
							<p class="small_font">By being a member of the Zap Community, you get access to multiple items in our inventory. Each item you get can be kept with you for as long as you want (until your subscription ends), and if you don’t really like it or are bored of it, you can choose to exchange it with something else from our vast collection. Like something so much that you want to buy it? We’ll throw in a special, irresistible discount for you and make this a whole package!</p>
						</span>
					</section>
					<section class="question">
						<span>
							<h6>Can I end the subscription at any point?</h6>
							<p class="small_font">Of course. We’ll be sad to let you go, but if for any reason, you want to end the subscription, you’re free to do so. The money for the cancelled period will be refunded to you. But considering our guarantee in providing you the best, exclusive service of the Zap Community, we bet you won’t be going anywhere!</p>
						</span>
					</section>
				</div>
            </div>
        </div>
        <div id="talk_to_us" class="center_align">
            <h5 class="separating_header uppercase">HAVE US CALL YOU BACK</h5>
            <form style="max-width: 320px; margin:0 auto;padding:10px;" id="data2">
                <input type="text" name="name" placeholder="Name" class="form" required><br>
                <input type="number" name="phone_number" placeholder="Mobile" class="form" required><br>
                <input type="email" name="email" placeholder="Email" class="form" required><br>
                <a class="btn post_data full_width overlay_trigger" data-overlay="#message">Get a call back</a>
            </form>
            <br>
            <h6>OR WHATSAPP US AT <span class="bold" style="white-space:nowrap;">733 788 0282</span></h6><br>
        </div>
        <p style="font-weight:100; padding: 40px 0;" class="center_align">Zapyle &copy;</p>
    </main>
    <script type="text/javascript">
        $(window).scroll(function() {
            if ($(window).scrollTop() > $('header').height()) {
                $('header').addClass('white');
            } else {
                $('header').removeClass('white');
            }
        });
        $(document).ready(function() {
            $('body').on('click', '.overlay_trigger', function() {
                $($(this).data('overlay')).addClass('is_visible');
            });
            $('body').on('click', '.glass, .close_btn, .close_trigger', function() {
                $($(this).closest('.is_visible')).removeClass('is_visible');
            });
        });
    </script>
    <div class="secondary overlay" id="tailor_plan">
        <div class="glass"></div>
        <div class="overlay_container">
            <div class="content">
                <a class="close_btn black"></a>
                <h5>Help us make a plan<br>that suits you</h5><br>
                <form id="preferences">
                    <h6>How much do you spend monthly on fashion?</h6>
                    <input type="number" name="monthly_spend" placeholder="In Rupees" class="form2"><br>
                    <br>
                    <h6>What kind of brands do you expect?</h6>
                    <input type="text" name="brands" placeholder="Eg: Louis Vuitton, Prada, Hermes etc." class="form2"><br>
                    <br>
                    <a class="btn full_width overlay_trigger close_trigger" data-overlay="#talk_to_us_form">Continue</a>
                </form>
                <br><br>
            </div>
        </div>
    </div>
    <div id="talk_to_us_form" class="center_align secondary overlay">
        <div class="glass"></div>
        <div class="overlay_container">
            <div class="content">
                <a class="close_btn black"></a>
                <h5>Leave us your number and we'll get in touch with you</h5>
                <br>
                <h6>OR WHATSAPP US AT <span class="bold" style="white-space:nowrap;">733 788 0282</span></h6><br>
                <form style="max-width: 320px; margin:0 auto;" id="data1">
                    <input type="text" name="name" placeholder="Name" class="form" required><br>
                    <input type="number" name="phone_number" placeholder="Mobile" class="form" required><br>
                    <input type="email" name="email" placeholder="Email" class="form" required><br>
                    <br>
                    <a class="btn post_data full_width overlay_trigger close_trigger" data-overlay="#message">Get a call back</a>
                </form>
                <br><br>
            </div>
        </div>
    </div>
    <div id="message" class="center_align secondary overlay">
        <div class="glass"></div>
        <div class="overlay_container">
            <div class="content">
                <a class="close_btn black"></a>
                <div class="message">
                    <div class="success is_hidden">
                        <p>Thank you! We will get in touch with you shortly.</p>
                        <a class="btn close_trigger">Close</a>
                    </div>
                    <div class="error is_hidden">
                        <p class="message1 is_hidden">Please fill in all the details.</p>
                        <p class="message2 red is_hidden">Sorry! We couldn't capture your details.</p>
                        <a class="btn close_trigger overlay_trigger" data-overlay="#talk_to_us_form">Try Again</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>