{% extends "account/base.html" %}
{% block extra_head %}
    <title>Buy Vintage and Designer Bags, Shoes, Clothes & Accessories Online India</title>
	<meta name="description" content="Up to 70% off on a beautiful collection of Vintage Luxury and Designer Handbags, Shoes, Clothes & Accessories for women online India. Safe shipping and easy returns. Limited quantity.">
    <!-- <script src="/zapstatic/catalogue/buy.js"></script> -->
{% endblock %}
{% block body %} 



	<main class="buy">
		<div class="top_banner">
			<div class="parallax-container">
				<div class="parallax">
			        <img src="/zapstatic/website/banners/buy_banner.jpg">
			        <!-- random image -->
			        <div class="caption inline">
  	                   <h3 class="full_width center_align">Shop authentic luxury and high street at upto 70% off!</h3>
  	                   <!--<div class="size6of12 right_align web_only">-->
	                           <!--<h5>Zap Exclusive</h5>-->
	                           <!--<h6 class="light grey-text text-lighten-3">Especially curated by Zapyle</h6>-->
	                   <!--</div>-->
	                   <!--<div class="size6of12 left_align web_only">-->
	                           <!--<h5>Zap Market</h5>-->
	                           <!--<h6 class="light grey-text text-lighten-3">Closets of the most stylish Indian women</h6>-->
	                   <!--</div>-->
		           </div>
			        <div class="glass absolute"></div>
				</div>
			</div>
			<div class="search">
				<div id="search">
					<div class="search_box">
						<input type="text" name="Search for a Brand, Occasion, Style">
						<a href="" class="btn">Search</a>
					</div>
					<div class="search_suggestions">
						<ul class="tabs">
							<li class="tab"><a class="active" href="#products">Products</a></li>
							<li class="tab"><a href="#closets">Closets</a></li>
						</ul>
						<div id="products">
							<div class="filter_suggestions">
								<ul>
									<li class="suggestion"><span class="string">Tops in Red</span><span class="use_this">Use</span></li>
									<li class="suggestion"><span class="string">Tops in Red for Wedding</span><span class="use_this">Use</span></li>
									<li class="suggestion"><span class="string">Tops from Anushree Reddy</span><span class="use_this">Use</span></li>
								</ul>
							</div>
							<div class="product_suggestions">
								<div class="suggestion">
									<img src="">
									<h6>Product Title</h6>
									<p>Product Description</p>
									<p><span class="price">4000</span><span class="price old">8000</span></p>
								</div>
								<div class="suggestion">
									<img src="">
									<h6>Product Title</h6>
									<p>Product Description</p>
									<p><span class="price">4000</span><span class="price old">8000</span></p>
								</div>
								<div class="suggestion">
									<img src="">
									<h6>Product Title</h6>
									<p>Product Description</p>
									<p><span class="price">4000</span><span class="price old">8000</span></p>
								</div>
							</div>
						</div>
						<div id="closets">
							<div class="closet_suggestions">
								<div class="suggestion">
									<img src="">
									<h6>Closet Name</h6>
									<p class="closet_handle">Handle</p>
									<p><span class="products_count">12</span><span class="admirers_count">34</span></p>
									<a href="#" class="admire_button">Admire</a>
								</div>
								<div class="suggestion">
									<img src="">
									<h6>Closet Name</h6>
									<p class="closet_handle">Handle</p>
									<p><span class="products_count">12</span><span class="admirers_count">34</span></p>
									<a href="#" class="admire_button">Admire</a>
								</div>
								<div class="suggestion">
									<img src="">
									<h6>Closet Name</h6>
									<p class="closet_handle">Handle</p>
									<p><span class="products_count">12</span><span class="admirers_count">34</span></p>
									<a href="#" class="admire_button">Admire</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="page_content">
			<div class="shops">
				<div class="shop size4of12">
					<div class="cover">
						<a href="/shop/designer">
							<img src="/zapstatic/website/home/banner_sept2.jpg">
						</a>
						<div class="content center_align">
							<h6 class="uppercase">DESIGNER</h6>
							<p class="intro">Designer luxury fashion from top designers</p>
						</div>
					</div>
					<div class="preview">
						<ul class="preview_list inline">
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/collections.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/collections.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/collections.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/collections.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
						</ul>
						<a class="inline_btn pink icon-right_arrow full_width block center_align uppercase small"><span class="underline block">VIEW DESIGNER COLLECTION</span></a>
					</div>
				</div>
				<div class="shop size4of12">
					<div class="cover">
						<a href="/shop/curated">
							<img src="/zapstatic/website/home/banner_sept2.jpg">
						</a>
						<div class="content center_align">
							<h6 class="uppercase">VINTAGE</h6>
							<p class="intro">Pre-owned luxury fashion hand-picked from the finest closets</p>	
						</div>
					</div>
					<div class="preview">
						<ul class="preview_list inline">
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/everything_under.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/everything_under.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/everything_under.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/everything_under.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
						</ul>
						<a class="inline_btn pink icon-right_arrow full_width block center_align uppercase small"><span class="underline block">VIEW DESIGNER COLLECTION</span></a>
					</div>
				</div>
				<div class="shop size4of12">
					<div class="cover">
						<a href="/shop/market">
							<img src="/zapstatic/website/home/banner_sept2.jpg">
						</a>
						<div class="content center_align">
							<h6 class="uppercase">MARKET</h6>
							<p class="intro">Luxury fashion marketplace for fashionistas</p>	
						</div>
					</div>
					<div class="preview">
						<ul class="preview_list inline">
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/autumn.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/autumn.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/autumn.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
							<li class="preview_item size6of12">
								<img src="/zapstatic/website/home/autumn.jpg">
								<span class="title small_font">RITU KUMAR</span>
							</li>
						</ul>
						<a class="inline_btn pink icon-right_arrow full_width block center_align uppercase small"><span class="underline block">VIEW DESIGNER COLLECTION</span></a>
					</div>
				</div>
			</div>
		</div>
	</main>
<style>
#page {
    display: block;
}
#loading {
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    background-image: url("/zapstatic/frontend/images/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}
</style>


{% endblock %}