#iframe iframe {
    width: 100%;
    border: 0;
}
.payment-section .topic-hdr {
    display:none;
}
.btn-primary {
    background: #f37374 !important;
    border: none !important;
    border-radius: 2px !important;
    padding: 6px 15px !important;
}

.btn-primary:hover {
    background: #f37374 !important;
}

.btn {
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 2px;
    padding: 5px 15px;
}

input, textarea {
    box-shadow: none !important;
    border-radius: 2px !important;
}

a {
    color: #f37374;
}

a:hover {
    color: #f37374;
}