
	<div class="header-banner">
		<div class="content"><h3>About Zapyle</h3></div>
	</div>
	<div class="main-content">
		<div class="content">
			<p>We bet at some point you've looked at your closet and thought, "I have nothing to wear!".  Well, we're here to fix that. </p><br>
 			<p>Zapyle is a fun, easy and social way to shop like a pro! We offer you the most stylish closets in the country to shop from and help you sell your own items that haven't been getting a lot of love lately.</p><br>
			<p>If you've always been a fan of style swapping with your fashion mates, you're going to love Zapyle. Because now, you can do it for real! Simply list your things for sale and off they go. Once you're done with the deal, put that into buying the stuff that you really want.</p><br>
			<p>Zapyle isn't your average shopping platform though, it's a place where incredible women share their love for fashion and receive a whole bunch of love as well. Try it - you'll soon realize that giving your wardrobe a makeover has never been simpler - or more fun!</p>
			</p>
		</div>
	</div>
	