<script type="text/javascript">
document.title = "Authenticity | Zapyle"
</script>
<div class="main-content">
    <div class="content">
        <div class="points">
          <div class="point" id="authentic" data-icon="c">100% Authentic</div>
          <div class="point" id="top-brands" data-icon="d">Top Brands</div>
          <div class="point" id="expert" data-icon="e">Expert Reviewed</div>
        </div>
        <div class="authenticity">
          <h6>THE ZAP PROMISE OF AUTHENTICITY</h6>
          <section class="message">
              <p>Zapyle rests on a strong policy of authenticity. All the products listed on Zapyle are 100% authentic. We only approve products with high quality images and which feature in our list of 550 brands.</p><br>
              <p>Our trained in-house professionals, including apparel experts and handbag appraisers ensure that every item sold and bought on our platform is 100% authentic and in great condition, preloved or brand new.<br><br></p>
          </section>
          <h6>HOW WE GUARANTEE OUR AUTHENTICITY</h6>
          <section class="message">
              <p>A trained team of luxury experts passes every item to be bought or sold through a second round of authentication process where they are checked on a multi-point system, before they are accepted for lisitng.</p><br><p>Each item is inspected for original brand logos, date codes, serial tags and hologram stickers before it is curated into daily sales.</p><br><p>Our goal at Zapyle is to provide you a luxury experience, so rest assured and shop stress free!</p>
          </section>
        </div>
        
    </div>
</div>