<div class="header-banner">
    <div class="content">
        <h3>Contact Us</h3></div>
</div>
<div class="main-content">
    <div class="content">
        <p>Want to chat about buying, or selling, give us your opinions, or just have a sartorial t&ecirc;te-&agrave;-t&ecirc;te? We'd love to! Drop us a hello and follow us below:</p>
        <div class="contact">
            <a target="_blank" href="https://twitter.com/ZapyleSocial" class="contact-type size3of12 icon-twitter"><span>
                    Tweet to us at @ZapyleSocial
                </span></a>
            <a target="_blank" href="https://www.facebook.com/zapyle/" class="contact-type size3of12 icon-facebook"><span>
                    Post on our Facebook Page.
                </span></a>
            <a class="contact-type size3of12 icon-phone" href="tel:08040928224"><span>Call us at 080 - 40004541</span></a>
            <a class="contact-type size3of12 icon-mail" href="mailto:hello@zapyle.com">Or email us at hello@zapyle.com</span></a>
        </div>
        <p> You can also drop in and talk to us anytime! Here's our address:</p>
        <div class="zap-address icon-location"><a target="_blank" href="https://www.google.co.in/maps/place/RMZ+Corp/@12.9825857,77.6239157,18.09z/">Zapyle, The Millenia, Tower B, Level 4. No 1&amp;2, Murphy Road, Ulsoor, Bangalore - 560008.</a></div>
    </div>
</div>