<div class="content">
    <ul>
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/contact-us">Contact Us</a></li>
        <li><a href="#/press">Press</a></li>
        <li><a href="#/shipping-returns-policy">Shipping and returns Policy</a></li>
        <li><a href="#/terms-conditions">Terms and Conditions</a></li>
    </ul>
    <div class="social-channels">
      <a class="icon-facebook" href="https://www.facebook.com/zapyle/" target="_blank"></a>
      <a class="icon-twitter" href="https://twitter.com/ZapyleSocial" target="_blank"></a>
      <a class="icon-instagram" href="https://www.instagram.com/zapyle/" target="_blank"></a>
      <a class="icon-youtube-play" href="https://www.youtube.com/channel/UCGTEq5Lm65t7tueQpybN9lA" target="_blank"></a>
      <a class="icon-pinterest-circled" href="https://in.pinterest.com/zapyle/" target="_blank"></a>
    </div>
    <div class="download-app">
        <h6>Download the App and get Rs. 200 OFF on your first purchase at the checkout.</h6><a href="https://geo.itunes.apple.com/us/app/zapyle/id1032735636?mt=8" target="_blank">iPhone</a><a target="_blank" href="https://play.google.com/store/apps/details?id=com.zapyle.zapyle">Android</a>
    </div>
</div>

<div class="side-menu content">
  <ul class="nav-bar"  hide-menu>
        <li id="discover"><a href="#/discover">Discover</a></li>
        <li id="sell"><a href="#/sell">Sell</a></li>
        <li class="selected" id="feeds"><a href="#/feeds">Buy</a></li>
        <li id="blog"><a target="_blank" href="http://blog.zapyle.com/blog">Blog</a></li>
        <li id="authenticity"><a href="#/authenticity">Authenticity</a></li>
        <li id="login"><span id="header-notlogin" class='signup-login-links' ng-show="!$root.loggedIn" pop-up>
                <a>Login</a></span>
        </li>
    </ul>
    <div class="download-app">
        <h6>Download the App and get Rs. 200 OFF on your first purchase at the checkout.</h6><a href="https://play.google.com/store/apps/details?id=com.zapyle.zapyle" target="_blank" class="icon-android">Android</a>
        <a class="icon-apple" target="_blank" href="https://geo.itunes.apple.com/us/app/zapyle/id1032735636?mt=8">iPhone</a>
    </div>
<div class="social-channels">
  <h6>Follow Us</h6>
  <a target="_blank" href="https://www.facebook.com/zapyle/" class="icon-facebook"></a>
  <a target="_blank" href="https://twitter.com/ZapyleSocial" class="icon-twitter"></a>
  <a target="_blank" href="https://www.instagram.com/zapyle/" class="icon-instagram"></a>
  <a target="_blank" href="https://www.youtube.com/channel/UCGTEq5Lm65t7tueQpybN9lA" class="icon-youtube-play"></a>
  <a target="_blank" href="https://in.pinterest.com/zapyle/" class="icon-pinterest-circled"></a>
</div>
</div>