<div id="signup-login" class="signup-login pri-overlay" ng-controller="PopController">
    <div class="glass"></div>
    <div class="content">
        <div class="close" ng-click="close_login_popup()"></div>

        <div class="signup-module" ng-init="email_login_flag=true">
            <div class="email">
                <form class="signin" ng-show="email_login_flag==true">
                    <div ng-hide="frgt_pwd_flag">
                        <input type="text" ng-model="l.email_login" placeholder="Email or ZapUsername">
                        <span class="error-msg is_visible">[[errors.email]]</span>
                        <input type="password" ng-model="l.password_login" placeholder="Password">
                        <span class="error-msg is_visible">[[errors.password]]</span>
                        <button class="pri-button" ng-click="checkout_signin()">Login with Email</button>
                    </div>
                    <div ng-show="frgt_pwd_flag">
                        <input type="text" ng-model="frgt_email" placeholder="Email">
                        <button class="pri-button email_verify_button" ng-click="send_verification_email(frgt_email,frgt_pwd_flag)">Send Verification Email</button>
                        <span class="error-msg is_visible">[[success_msg]]</span>
                    </div>
                    <div class="signin-footer">
                        <span ng-hide="frgt_pwd_flag" class="forgot-password" ng-click="frgt_pwd_flag=true">Forgot Password?</span>
                        <span ng-show="frgt_pwd_flag" class="forgot-password" ng-click="frgt_pwd_flag=false">Login</span>
                        <span ng-click="email_login_flag=false" login-change="">Not a member? <span class="show-signup">Signup</span></span>
                    </div>
                </form>
                <form class="signup" ng-show="email_login_flag==false" ng-submit="checkout_signup()">
                    <input type="text" ng-model="s.signup_zap_username" name="Name" placeholder="Username" required>
                    <span class="error-msg is_visible">[[errors.username]]</span>
                    <input type="email" name="email" ng-model="s.signup_email" placeholder="Email" required>
                    <span class="error-msg is_visible">[[errors.Email]]</span>
                    <input type="text" name="first_name" ng-model="s.signup_first_name" placeholder="First Name" required>
                    <span class="error-msg is_visible">[[errors.fname]]</span>
                    <input type="text" name="phone_number" ng-model="s.signup_phone_number" placeholder="Phone Number" required>
                    <span class="error-msg is_visible">[[errors.phone]]</span>
                    <!--  <input type="text" name="Username" ng-model="zap_username" placeholder="Username"> -->
                    <input type="password" ng-model="s.signup_password" name="Password" placeholder="Password" required>
                    <span class="error-msg is_visible">[[errors.pwd]]</span>
                    <input type="password" ng-model="s.signup_confirm_password" name="Password" placeholder="Confirm Password" required>
                    <span class="error-msg is_visible">[[errors.cpwd]]</span>
                    <button class="pri-button btn_signup">Signup with Email</button>
                    <div><a class="terms-link" target="_blank" href="/#/terms-conditions">Terms and Conditions Apply</a>Already a member? <span class="show-signup" login-change="" ng-click="email_login_flag=true">Login</span></div>
                </form>
            </div>
            <div class="separator"><span>or</span></div>
            <div class="social">
                <div class="facebook"><a ng-click="FBLogin()"><span class="icon-facebook"></span><span>Login using Facebook</span></a></div>
                <div class="instagram"><a ng-click="insta_please_wait()"><span class="icon-instagram"></span><span>Login using Instagram</span></a></div>
            </div>


        </div>
    </div>
</div>