<div class="header-banner">
    <div class="content">
        <h3>Press</h3></div>
</div>
<div class="main-content">
    <div class="content">
        <div class="news-content">
            <a target="_blank" href="http://www.thehindubusinessline.com/info-tech/fashion-startup-zapyle-to-go-live-next-month/article7326379.ece">
                <p>In a first of its kind offering, fashion tech start-up Zapyle.com is all set to let shoppers discover, buy and sell from 3,000 of the best pre-owned fast fashion, premium and luxury fashion brands on its site</p>
                <img alt="The Hindu Business Line" src="/zapmedia/images/press/hbl.jpg">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://www.deccanchronicle.com/150624/lifestyle-fashionbeauty/article/fashionista%E2%80%99s-dream">
                <p>Rashi and her team have done extensive research and narrowed down the style statement of Indian women into four categories: Trendy, chic, boho and classic.</p>
                <img alt="Deccan Chronicle" src="/zapmedia/images/press/dc.jpg">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://indulge.newindianexpress.com/style-swap/chennai/radiointernet/33744">
                <p>Zapyle's mobile app allows users to take their closets online, one picture at a time, in an Instagram-like fashion. "So all you need to do is shoot a quick photo of what you don't wear too much, and in a second it's available for the world to see and buy,"</p>
                <img alt="The New Indian Express" src="/zapmedia/images/press/tnie.png">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://her.yourstory.com/rashi-menda-0902">
                <p>The response they have received in the last three months has been very encouraging and to keep things rolling they have fashion related weekly contests, featured stories on different influencers and discussion on several topics pertaining to fashion.</p>
                <img alt="Your Story" src="/zapmedia/images/press/ys.jpg">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://www.entrepreneur.com/article/250590">
                <p>Bengaluru-based start-up Zayple provides a unique platform to fashion freak women, who love to share and discuss fashion, to sell their pre-owned fashion attire without worrying about anything. Apart from providing the platform to women to buy pre-used apparel, the venture also ensures quality control as they also accept the products from brands such as Prada, Louis Vuitton, Jimmy Choo, Tory Burch and many other domestic and international designers.</p>
                <img alt="Entrepreneur" src="/zapmedia/images/press/entrepreneur.jpg">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://inc42.com/buzz/zapyle-gets-1-mn/">
                <p>A Instagram like fashion marketplace to discover, sell and buy pre-owned fashion attire. The startup today announced that it has raised $1 Mn in a funding round.</p>
                <img alt="Inc42" src="/zapmedia/images/press/inc42.png">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://www.vccircle.com/news/technology/2015/09/11/zapyle-raises-1m-angel-funding">
                <p>...which allows users to buy and sell pre-owned luxury wear, has raised $1 million in seed funding.</p>
                <img alt="VC Circle" src="/zapmedia/images/press/vccircle.png">
            </a>
        </div>
        <div class="news-content">
            <a target="_blank" href="http://www.financialexpress.com/article/industry/companies/giving-fashion-a-second-chance/135175/">
                <p>Rashi Menda has woven a rather unusual business around fashion where she is putting up used clothes that lie idle in the wardrobe of fashion icons, influencers and bloggers for sale.</p>
                <img alt="Fanancial Express" src="/zapmedia/images/press/tfe.jpg">
            </a>
        </div>
    </div>
</div>
</div>