<script>
	PageStartTime = Date.now()
	mixpanel.track("User Event", {'Event Name': 'Changed page','to':window.location.href, 'from':CurrentPage});
    CurrentPage = window.location.href
    document.title = "Sell | Zapyle"
</script>
<div class="sell" dynamic-heigh>
	<div class="fold-wrapper">
		<div class="first-fold">
			<div class="content-wrapper">
				<div class="content">
					<div class="left">
						<div class="copy">
							<div id='1'>
								<div class="headline">Want an Instant Wardrobe Makeover? Sell Your Stuff Here!</div>
								<div class="tagline">We'll do the rest - for free.<br />And YOU Earn.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-content">
	<div class="content">
	<div class="section">
		<p>Want to give your wardrobe an instant makeover? Do some spring cleaning, stack up whatever hasn't been getting a lot of love lately and sell it on Zapyle! Then use the money to buy stuff you really want. It's super simple and lots of fun!</p>
		<div id="upload" class="process">
			<div class="step size4of12 icon-camera-1">
				<p>Click a snap of your preloved item and list it for sale on Zapyle. It's free!</p>
			</div>
			<div class="step size4of12 icon-gift-1">
				<p>We'll find you the best buyer and provide you with a prepaid, preaddressed shipping label. All you have to do is fill our sell form on the app, pack your pre-loved item/s in the box and call for a pick up - free of cost by Zap post!</p>
			</div>
			<div class="step size4of12 icon-money">
				<p>Once it's reached your buyer, you can either decide to withdraw your earnings, or keep it in your checking account and use it further to buy other stuff you love on Zapyle!</p>
			</div>
		</div>
		<h6>Download the Zapyle app now. Tons of covetable closets are waiting!</h6>
		<div class="download-app">
			<a href="https://play.google.com/store/apps/details?id=com.zapyle.zapyle" target="_blank">
			  <img src="/zapstatic/frontend/images/google_play.png" alt="Get it on Google Play" style="max-height: 40px; max-width: 120px;">
			</a>
			<a href="https://geo.itunes.apple.com/us/app/zapyle/id1032735636?mt=8" target="_blank">
			  <img alt="Get it on Play Store" src="/zapmedia/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg">
			</a>
		</div>
	</div>
	<div class="section">
		<h3>Zapyle White Glove Services</h3>
		<p>All you seasoned shopaholics, if you want to shop or sell bespoke, designer stuff, Zapyle offers you two exclusive shopping experiences:</p>
		<p><b>Zapyle Exclusive:</b> Shop super high-end luxury brands at insanely discounted rates!
If you want to sell, we provide you exclusive white glove service in delivery, and you can choose your identity to be undisclosed. We respect your privacy.</p> 
		<p><b>Zapyle Closet:</b> Shop a great variety of international high street brands like Zara, H&amp;M, and Forever21, all at heavily slashed prices! Again, we keep the seller anonymous if they wish.</p> 
		<p>Selling your stuff through our exclusive services is easy. Just follow these steps:</p>
		<div id="white-glove" class="process">
			<div class="step size4of12 icon-upload-1">
				<p>Send us some nice and clear pictures of your preloved items with the original price, age and condition of the product to <a href="mailto:hello@zapyle.com">hello@zapyle.com</a>.</p>
			</div>
			<div class="step size4of12 icon-search-2">
				<p>Our team will inspect your item to see if it's good to list. If it doesn't meet our age, brand and condition guidelines, we unfortunately won't be able to list your item. Sorry!</p>
			</div>
			<div class="step size4of12 icon-recycle">
				<p>Once it's approved, we'll professionally list your item, keeping your anonymity safe and taking special care of shipping and handling. We don't charge for this service, only so you could have a wonderful Zap experience.</p>
			</div>
		</div>
		<h6>What are you waiting for? Sell your luxury items for great deals!</h6>
	</div>
	<div class="section">
		<h3>Storefronts</h3>
		<p>Zapyle houses the country's most renowned designer storefronts like <b>Crisp</b>, <b>Rohit Bal</b>, and <b>Arpita Mehta</b>. If your storefront wants to partner with us and sell through our app, get in touch and get on board! We love to make new friends.</p>
		<span  class="button"><a href="mailto:hello@zapyle.com">Reach out to Us</a></span>
	</div>
	</div>
	</div>
</div>